<title>Crear Cuenta</title>
<link rel="stylesheet" href="/css/login.css">

  <body>
    <main>
      <div class="box">
        <div class="inner-box">
         <div class="forms-wrap">
        

             <form action="/signup" method="post" autocomplete="off" class="sign-in-form">
              <div class="logo">
                <img src="img/Turus.png" alt="easyclass" />
                <div class="logo-eslogan">
                  <h4>Invitaciones Virtuales</h4>
                  <p>Taurus Comunity</p>
                </div>
              </div>
              <div class="heading">
                <h2>Registrate Ahora</h2>
              </div>

              <div class="actual-form">
                <div class="input-container">
                  <input class="input" name="nombre" type="text" >
                  <label class="label" for="input">Nombre Familia</label>
                  <div class="topline"></div>
                  <div class="underline"></div>
                  </div><br>
                  <div class="input-container">
                  <input class="input" name="usuario" type="email" >
                  <label class="label" for="input">Digita tu Usuario</label>
                  <div class="topline"></div>
                  <div class="underline"></div>
                  </div><br>
                  <div class="input-container">
                  <input class="input" name="password" type="password">
                  <label class="label" for="input">Digita tu Contraseña</label>
                  <div class="topline"></div>
                  <div class="underline"></div>
                  </div>
                  <br>
                  <div class="input-container">
                    <input class="input" name="password2" type="password">
                    <label class="label" for="input">Repite tu Contraseña</label>
                    <div class="topline"></div>
                    <div class="underline"></div>
                    </div>
                    <br>
                <input type="submit" value="Crear" class="sign-btn"/>
                <button><a href="/" class="toggle">Ya tengo una cuenta</a></button>
                

                <p class="text"><a href="/">Volver al inicio</a></p>
              </div>
            </form>
         </div>

          <div class="carousel">
            <div class="images-wrapper">
              <img src="/img/image1.png" class="image img-1 show" alt="" />
              <img src="/img/image2.png" class="image img-2" alt="" />
              <img src="/img/image3.png" class="image img-3" alt="" />
            </div>

            <div class="text-slider">
              <div class="text-wrap">
                <div class="text-group">
                  <h2>Interfaces minimalistas</h2>
                  <h2>Control de invitados </h2>
                  <h2>Contactanos +57 316 511 4410</h2>
                </div>
              </div>

              <div class="bullets">
                <span class="active" data-value="1"></span>
                <span data-value="2"></span>
                <span data-value="3"></span>
              </div>

            </div>
          </div>
        </div>
      </div>
    </main>

    <!-- Javascript file -->

    <script src="/js/login.js"></script>
  </body>